<!DOCTYPE html> 
<html>
    <head>
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Budget Pal</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/stylesheets/ionicons.css">
        <link rel="stylesheet" href="/stylesheets/flexApp.css">
    </head>
    <body>

        <header>
            <div class="heading">
                <h2 class="logo"><a href="/budget/<%=currentUser.username%>">My Budget Pal</a></h2>
                <span id="logo"><img src="/media/piggy_bank.png" height="30" width="30"></span>
            </div>
            <div class="message fadeOut">
                <% if (error.length > 0) { %>
                    <div><%= error %></div>
                <% } %>
                <% if (success.length > 0){ %>   
                    <div><%= success %></div> 
                <% } %>    
            </div>
            <nav>
                <li><a href="/budget/<%=currentUser.username%>">Home</a></li>
                <li><a href="/logout">Logout</a></li>
            </nav> 
        </header>
       

       

   
   
