<!DOCTYPE html> 
<html>
    <head>
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Budget Pal</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,600" rel="stylesheet" type="text/css">
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/stylesheets/app.css">
    </head>
    <body>

        <header>
            <h2 class="logo"><a href="/budget/<%=currentUser.username%>">My Budget Pal</a></h2>
            <span id="logo"><img src="/stylesheets/piggy_bank.png" height="30" width="30"></span>
            <nav>
                <li><a href="/logout">Logout</a></li>
            </nav>
        </header>
       

       

   
   
