<h1>Login Page!</h1>

<div>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="text" name="password" placeholder="password">
        <button>Login</button>
    </form>
</div>


<div>
    <a href="/register">Create a new account</a>  
</div>