/**********************************************
*** GENERAL
**********************************************/

/* Avoid inconsistencies across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


body {
    color: #555;
    font-family: Roboto;
    font-size: 15px;
    position: relative;
    height: 100vh;
    font-weight: 400;
    background: #f7f7f7;
}

.right { float: right; }

/* Header */

nav {
    list-style: none;
}

a {
    text-decoration: none !important;
    font-size: 20px;
    color: #fff;
    font-weight: 200;
    opacity: 0.90;
    letter-spacing: 1px;
    
}

a:hover {
    opacity: 0.75;
}

#logo {
    padding-right: 1040px;
    opacity: 0.8;
   
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px 0;
    font-size: 20px;
    background: #4ca1af;
    
}



header nav {
    display: flex;
    /* margin-right: -15px; */
}

header nav li {
    margin: 0 15px;
    color: white;
}


/* TOP HALF */

.top {
    height: 40vh;
    background: #4ca1af; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #4ca1af, #c4e0e5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4ca1af, #c4e0e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: center;
    position: relative;
}

.budget {
    position: absolute;
    font-size: 22px;
    width: 700px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}


.budget__title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.budget__value {
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    height: 20px
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.budget__income,
.budget__expenses {
    padding: 12px;
    text-transform: uppercase;
}

.budget__income {
    text-align: center;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 20%;
    color:  white;
    height: 10px;
}

.budget__expenses {
    text-align: center;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 20%;
    color:  white;
    height: 10px;
}

.budget__income--text,
.budget__expenses--text {
    float: left;
    font-size: 15px;
    color: white;
    margin-top: 5px;
    margin-left: 20px;
}

.budget__income--value,
.budget__expenses--value {
    letter-spacing: 1px;
    float: left;
}

.budget__income--percentage,
.budget__expenses--percentage {
    float: left;
    width: 34px;
    font-size: 11px;
    padding: 3px 0;
    margin-top: 5px;
    margin-left: 10px;
}

.budget__expenses--percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}

/* Bottom */

.bottom {
    margin-left: 20%;
    width: 50%;
    
}

.receipt_container {
    margin: 40px;
    float: center;
    width: 800px; 
}

.receipt_title {
    font-size: 25px;
    color: #4ca1af;
    font-weight: 300;
}

.add_receipt {
    margin: 0 auto;
    text-align: center;
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;

}

.add_type {
    width: 120px;
    border: 1px solid #4ca1af;
    height: 60px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
}

.add_category {
    width: 140px;
    border: 1px solid #4ca1af;
    height: 60px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
}

.add__description,
.add__value {
    border: 1px solid #4ca1af;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    height: 60px;
    padding: 12px 15px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}

.add_type:focus,
.add_category:focus,
.add__description:focus,
.add__value:focus {
    outline: none;
    border: 1px solid #4ca1af;
    box-shadow: 0 0 1px #4ca1af;
}

.add__btn {
    font-size: 50px;
    background: none;
    border: none;
    color: #4ca1af;
    cursor: pointer;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.add__btn:active { transform: translateY(2px); }

.item {
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid #e7e7e7;  
    height: 75px;  
}

.item_category {
    color: #4ca1af;
}

.category_td {
    width: 10%;
    opacity: 0.6;
}

.exp_description_td {
    width: 30%;
    
}

.inc_description_td {
    width: 30%;
   
}

.time_td {
    font-size: 12px;
    width: 30%;
   
}

.exp_value_td,
.exp_edit_value_td {
    width: 20%;
    font-size: 20px;
    margin-right: 50px;
    color: #FF5049;
    transition: transform 0.2s; 
}

.inc_value_td,
.inc_edit_value_td {
    width: 20%;
    font-size: 20px;
    margin-right: 50px;
    color: #4ca1af; 
    transition: transform 0.2s;
}

table {
    width: 100%;
}



.item__description {
    float: left;
}



/* .exp__icon {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #FFDAD9;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
    color: red;
}

.inc__icon {
    float: left;
    margin-left: 20px;
    transition: transform 0.3s;
    font-size: 11px;
    background-color: #D1F0E8;
    padding: 3px;
    border-radius: 3px;
    width: 32px;
    text-align: center;
    color: #4CAF6B;
} */

.exp__delete--btn,
.exp__edit--btn {
    font-size: 25px;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
    color: #FF5049;
    opacity: 0.8;
}

.inc__delete--btn,
.inc__edit--btn {
    font-size: 25px;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
    color: #4ca1af;
    opacity: 0.8;
}



.exp__delete--btn:focus { outline: none; }
.exp__delete--btn:active { transform: translateY(5px); }
.exp__edit--btn:focus { outline: none; }
.exp__edit--btn:active { transform: translateY(5px); }

.inc__delete--btn:focus { outline: none; }
.inc__delete--btn:active { transform: translateY(5px); }
.inc__edit--btn:focus { outline: none; }
.inc__edit--btn:active { transform: translateY(5px); }


.item:hover .exp__delete--btn  { display: block; }
.item:hover .exp__edit--btn  { display: block; }
.item:hover .inc__delete--btn  { display: block; }
.item:hover .inc__edit--btn  { display: block; }
.item:hover .exp_value_td { transform: translateX(-5px); }
.item:hover .inc_value_td { transform: translateX(-5px); }


hr {
    border: 0;
    height: 0;
    margin-top: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
