/* General */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    color: #555;
    margin: 0;
    font-family: Roboto;
    font-size: 15px;
    position: relative;
    min-height: 100vh;
    font-weight: 400;
    background: #f7f7f7;
}


/* Header */


nav {
    list-style: none;
}


a {
    text-decoration: none !important;
    font-size: 20px;
    color: #fff;
    font-weight: 200;
    opacity: 0.90;
    letter-spacing: 1px;
    float: left;
    padding-top: 4px;
}


a:hover {
    opacity: 0.75;
}


.heading {
    width: 250px;
}


#logo {
    opacity: 0.8;
    padding-left: 10px;
}


.message {
    margin: 0 15px;
    width: 300px;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
}


@-webkit-keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}


@keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}


.fadeOut {
  opacity:0;
  -moz-animation   : fadeout 3s linear;
  -webkit-animation: fadeout 3s linear;
  animation-delay  : fadeout 3s linear;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px 0;
    font-size: 20px;
    background: #4ca1af;
}


header nav {
    display: flex;
}


header nav li {
    margin: 0 15px;
    color: white;
    padding-top: 4px;
}


/* Jumbotron */


.jumbotron {
    display: flex;
    flex-direction: column;
    height: 40vh;
    background: #4ca1af; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #4ca1af, #c4e0e5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4ca1af, #c4e0e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: center;
    position: relative;
}



.budget {
    display: flex;
    flex-direction: column;
    color: #fff;

}

span {
    /* display: inline-block; */
    white-space:pre;
}





.budget_title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 300;
}


.budget_value {
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 46px;
    height: 20px;
    margin-bottom: 80px;
    letter-spacing: 2px;
}


.budget_income,
.budget_expenses {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    width: 380px;
    margin: 0 auto;
    padding-bottom: 20px;
    color:  white;
    text-transform: uppercase;
}



.budget_income--text,
.budget_expenses--text {
    font-size: 15px;
    flex-basis: 180px;
}

.budget_income--value,
.budget_expenses--value {
   letter-spacing: 1px;
   font-size: 24px;
}

.budget_income--percentage,
.budget_expenses--percentage {
    font-size: 14px;
    padding: 2px 2px;
    margin-left: 10px;
}


.budget_expenses--percentage {
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    border-radius: 3px;
}


@media screen and (max-width: 640px) {
    .jumbotron {
        height: 100vh;
    }
    .logo {
        display: none;
    }
    li a {
        font-size: 12px;
    }
    .budget_title {
        font-size: 18px;
    }
    .budget {
        margin-top: 50px;
    }
    .budget_value {
        font-size: 70px;
        margin-top: 50px;
        
    }
    .budget_income,
    .budget_expenses {
        margin-top: 10px;
        flex-direction: column;
        margin-left: 25%;
    }

    .budget_income {
        margin-top: 100px;
    }

    .budget_income--text,
    .budget_expenses--text {
        font-size: 16px;
        flex-basis: 20px;
    }

    .budget_income--value,
    .budget_expenses--value {
        letter-spacing: 1px;
        font-size: 32px;
        margin-top: 20px;
    }

    .budget_expenses--percentage {
       margin: 20px;
    }

    .add_description, .add_value {
        width: 120px;
    }

    .add_category {
        width: 100px;
    }

    form {
        margin: 15px;
    }

    .receipt_time {
        display: none;
    }

    .inc_receipt_value,
    .exp_receipt_value {
        margin-right: 300px;
        
    }

    .receipt_description {
        flex-basis: 20%;
        font-size: 15px;
    }
  
    .receipt {
        width: 200px;
    } 
    
    #username {
        font-size: 30px;
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 640px) {
    .exp_delete--btn:focus { outline: none; }
.exp_delete--btn:active { transform: translateY(5px); }
.exp_edit--btn:focus { outline: none; }
.exp_edit--btn:active { transform: translateY(5px); }


.inc_delete--btn:focus { outline: none; }
.inc_delete--btn:active { transform: translateY(5px); }
.inc_edit--btn:focus { outline: none; }
.inc_edit--btn:active { transform: translateY(5px); }


.receipt:hover .exp_delete--btn  { display: block; }
.receipt:hover .exp_edit--btn  { display: block; }
.receipt:hover .inc_delete--btn  { display: block; }
.receipt:hover .inc_edit--btn  { display: block; }
.receipt:hover .exp_receipt_value { transform: translateX(-5px); }
.receipt:hover .inc_receipt_value { transform: translateX(-5px); } 

}


/* Bottom */

main {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.add_receipt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.receipt_title {
    font-size: 25px;
    color: #4ca1af;
    font-weight: 300;
    text-align: center;
}

hr {
    border: 0;
    height: 0;
    margin-top: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.add_type {
    width: 120px;
    border: 1px solid #4ca1af;
    height: 60px;
    font-size: 15px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
}


.add_category {
    width: 140px;
    border: 1px solid #4ca1af;
    height: 60px;
    font-size: 15px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
}


.add_description,
.add_value {
    border: 1px solid #4ca1af;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 15px;
    height: 60px;
    padding: 12px 15px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}


.add_type:focus,
.add_category:focus,
.add_description:focus,
.add_value:focus {
    outline: none;
    border: 1px solid #4ca1af;
    box-shadow: 0 0 1px #4ca1af;
}


.add_btn {
    font-size: 50px;
    background: none;
    border: none;
    color: #4ca1af;
    cursor: pointer;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}


.add_btn:active { transform: translateY(2px); }


.receipt {
    display: flex;
    background-color: white;
    height: 75px;
    border-bottom: 1px solid #e7e7e7;
    margin: 0 auto;
    width: 760px;
    padding: 20px;
}

.receipt_category {
    flex-basis: 10%;
    opacity: 0.6;
    flex-shrink: 2;
}

.receipt_description {
    flex-basis: 30%;
    padding-top: 15px;
    flex-shrink: 5;
}


.receipt_time {
    font-size: 12px;
    flex-basis: 28%;
    padding-top: 18px;
}


.exp_receipt_value,
.exp_edit_value {
    flex-basis: 20%;
    font-size: 20px;
    padding-top: 15px;
    color: #FF5049;
    transition: transform 0.2s; 
}


.inc_receipt_value,
.inc_edit_value {
    flex-basis: 20%;
    font-size: 20px;
    padding-top: 15px;
    color: #4ca1af; 
    transition: transform 0.2s;
}


.exp_delete--btn,
.exp_edit--btn {
    font-size: 25px;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
    color: #FF5049;
    opacity: 0.8;
}


.inc_delete--btn,
.inc_edit--btn {
    font-size: 25px;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
    color: #4ca1af;
    opacity: 0.8;
}



