
/* Avoid inconsistencies across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: #555;
    font-family: Roboto;
    font-size: 15px;
    height: 100vh;
    font-weight: 400;
    background: #4ca1af; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #4ca1af, #c4e0e5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4ca1af, #c4e0e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: center;
}


.title {
    display: flex;
    flex-basis: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding-top: 120px;
    padding-bottom: 100px;
}


.login {
    display: flex;
    flex-basis: 500px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    margin: 0 auto;   
}


.login_form {
    display: flex;
    flex-basis: 500px;
    flex-wrap: wrap;
}


h1 {
    letter-spacing: 2px;                 
    color: white;
    font-size: 70px;
    font-weight: 200;
}


#logo {
    opacity: 0.8;
}


.login_title,
.password_title {
    letter-spacing: 1px; 
    font-size: 20px;
    color: white;
    font-weight: 300;
    text-align: left;
    flex-basis: 200px;
}


.username,
.password {
    border: none;
    background-color: rgba(255,255,255, 0.3);
    color: rgba(255,255,255, 1);
    font-family: inherit;
    font-size: 16px;
    height: 50px;
    padding: 12px 15px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
    flex-basis: 200px;

}


.username:focus,
.password:focus {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255,255,255, 0.2);
}


.login_button {
    font-size: 40px;
    background: none;
    border: none;
    color:#fff;
    cursor: pointer;
    display: inline-block;
    outline: none;
    vertical-align: middle;
    line-height: 1.1;
    margin-top: 10px;
    margin-left: 10px;
}


.register_link {
    padding-top: 20px;
    flex-basis: 500px;
}


.message {
    font-size: 15px;
    color: #fff;
    font-weight: 100;
    opacity: 1;
    letter-spacing: 1px;
    padding-top: 20px
}


a {
    text-decoration: none !important;
    font-size: 15px;
    color: #fff;
    font-weight: 100;
    opacity: 1;
    letter-spacing: 1px;
    border-bottom: 1px solid white; 
}


a:hover {
    opacity: 0.75;
}


@-webkit-keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}
@keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}


.fadeOut {
  opacity:0;
  -moz-animation   : fadeout 3s linear;
  -webkit-animation: fadeout 3s linear;
  animation        : fadeout 3s linear;
}


/* Media Queries */

@media screen and (max-width: 480px) {
    
    #logo {
        margin-bottom: 15px;
    }
    
    h1 {
        font-size: 40px;
    }

    .login_form {
        justify-content: center;
        flex-basis: 300px;
    }

    .login_title {
       order: 0;
    }

    .username {
        order: 1;
        padding: 10px;
        flex-basis: 200px;
    }

    .password_title {
        order: 2;
        padding-top: 40px;
    }

    .password {
        order: 3;
        margin-left: 35px;
    }

    .login_button {
        order: 4;
    }

    .register_link {
        order: 5;
        margin-top: 20px;
        margin-left: 45px;
    }

    .message {
        order: 6;
        margin-left: 45px;
    }
}